/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient( rgb(211, 120, 219) , rgb(215, 150, 221)  ); /* Orange theme */
    padding: 10px 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .nav-logo{
    width:70px;
  }
  
  .nav-buttons {
    display: flex;
    gap: 15px;
  }
  
  .nav-button {
    background-color: rgb(40, 2, 53);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-button:hover {
    background-color: #76407e; 
  }
  