.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(215, 150, 221);
    padding: 20px;
    border-radius: 0px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .token-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .token-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .token-box p {
    font-size: 1.2rem;
    color: #333;
  }
  
  strong {
    font-weight: bold;
    color: #d9534f; /* Red color for token number */
  }
  